<!DOCTYPE html>
<html lang="en">
    <!-- THE HEAD TAG PARTIAL -->
    <%- include ("../partials/head") %>
<body class="bg-secondary">
          <!-- THE HEADER TAG PARTIAL -->
          <%- include("../partials/header") %>
  <div class="container">
    <h1 class="mb-2 mt-4 text-center">Markdown Dev</h1>
    <h2 class="text-center text-white">Using the simplest tool for the job</h2>
    <hr>

    <% articles.forEach(article => { %>
      <div class="card my-4 bg-light">
        <div class="card-body">
          <h4 class="card-title"><%= article.title %></h4>
          <div class="card-subtitle text-muted mb-2">
            <%= article.createdAt.toLocaleDateString() %>
          </div>
          <div class="card-text mb-2"><%= article.description %></div>
          <a href="articles/<%= article.slug %>" class="btn btn-primary mr-3">Read More</a>
          <a href="articles/edit/<%= article.id %>" class="btn btn-info mr-3">Edit</a>
          <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    <% }) %>
    <a href="/articles/new" class="btn btn-success mb-4">New Article</a>

  </div>
          <!-- THE HEAD TAG PARTIAL -->
          <%- include("../partials/footer") %>
</body>
</html>