<!DOCTYPE html>
<html lang="en">
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/head") %>
<body>
          <!-- THE HEADER TAG PARTIAL -->
          <%- include("../partials/header") %>
  <div class="container">
    <h1 class="mb-4"><%= article.title %></h1>
    <div class="text-muted mb-4">
      <%= article.createdAt.toLocaleDateString() %>
    </div>
    <a href="/" class="btn btn-secondary mb-2 mr-3">Back to Articles</a>
    <a href="/articles/edit/<%= article.id %>" class="btn btn-info mb-2">Edit</a>
<hr>
    <div>
      <%- article.sanitizedHtml %>
    </div>
  </div>
          <!-- THE HEAD TAG PARTIAL -->
          <%- include("../partials/footer") %>
</body>
</html>